@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}  

.banner .box {
    height: 100vh;
    position: relative;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #7f5539;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-left: 30px;
}

header ul li  a {
    font-weight: 600;
    color: #7f5539;
    letter-spacing: 1px;
}

header ul li a:hover {
    color: #ddb892;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.banner__info > h2 {
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #7f5539;
    margin-bottom: 20px;
}

.banner__info > p {
    line-height: 2;
    color: #9c6644;
    margin-bottom: 23px;
}

.btn {
    display: inline-block;
    color: #ede0d4;
    font-weight: 300;
    background: #7f5539;
    padding: 10px 30px;
    border: none;
    transition: all .4s;
}

.btn:hover {
    background: #ede0d4;
    color: #7f5539;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 38px;
    right: 60px;
}

.social > h4 {
    color: #7f5539;
    font-size: .75rem;
}

.social > li {
    margin-left: 10px;
}

.social > li a img {
    max-width: 30px;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images .imgBx {
    position: relative;
    width: 50%;
    height: 50vh;
}

.images .imgBx:nth-child(3) {
    width: 100%;
}

.images .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*media queries*/

@media (max-width:991px) {
    .banner {
        display: grid;
        grid-template-columns: 1fr;
    } 
}

@media (max-width:540px) {
    .images .imgBx {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    } 

    .images .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}